<div class="container mt-5">
    <!-- 2 way data binding -->
    <h1>Attribute Directive:</h1>
    <input type="text" name="firstname" [(ngModel)]="fname">
    <p>{{ fname }}</p>

    <input type="text" name="lastname" [(ngModel)]="lname">
    <p>{{ lname }}</p>
    
    <input type="text" name="evenNum" [(ngModel)]="gnumber">
    <div *ngIf="evenOdd()">
        <p>Even</p>
    </div>



    <h1>Structural Directive:</h1>
    <div *ngFor="let numArr of numArrs">
        <p>{{ numArr }}</p>
    </div>

    <div *ngFor="let strArr of strArrs">
        <p>{{ strArr }}</p>
    </div>


    <h1>Print only those names whose length is more than 5 from a list of names...</h1>

    <div *ngFor="let name of names">

        <div *ngIf="name.length > 5">
            <p>{{ name }}</p>
        </div>
    </div>

    <h1>Print names having odd index</h1>

    <div *ngFor="let name of names; let i = index">
        <div *ngIf="i%2==0">
            <!-- <p>{{ i }}</p> -->
            {{ name }}
        </div>
    </div>

    <h1>When btn pressed in parent component string should be displayed in child component</h1>
    <!-- <h4>Pass data from parent to child</h4>
    <div (click)=""></div> -->
    <app-header [getItemFromAppComponent]="sendItemToHeaderComponent"></app-header>

</div>