<div class="container">
    <h1>Using Attribute Directives with conditions: </h1>
    <p [ngClass]="item>10?'red': 'yellow'">{{ item }}</p>
    <p [ngClass]="classFeature()">{{ item }}</p>

        <ul *ngFor="let element of newArray">
            <li [ngClass]="element%2==0? 'red': 'yellow'">
                {{ element }}
            </li>
        </ul>

        <p #paragraph [ngClass]="'green'">{{ paratext }}</p>

    <button class="btn btn-success" (click)="showPara()">Enable</button>
    <button class="btn btn-danger" (click)="disablePara()">Disable</button>
        <br>
    <button [ngStyle]="{background: 'yellow'}">Click Me</button>
    <button [ngStyle]="appendStyle">Click Me</button>



</div>


<table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">City</th>
        <th scope="col">Zipcode</th>
        <th scope="col">Phone</th>
        <th scope="col">Website</th>
        <th scope="col">Company Name</th>

        <th scope="col">DELETE ROW</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of datas" [ngClass]="data.id%2 == 0? 'table-success': 'table-danger'">
        
        <th scope="row">{{ data.id }}</th>
        <td>{{ data.name }}</td>
        <td>{{ data.username }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.address.city }}</td>
        <td>{{ data.address.zipcode }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.website }}</td>
        <td>{{ data.company.name }}</td>
        <td>
                <button class="btn btn-primary" (click)="deleteElement(data)">DELETE</button>

        </td>
      </tr>
      
    </tbody>
  </table>

<!-- <div>{{ data }}</div> -->