<img class="img-fluid" src=".././assets/images/banner.jpg" alt="First slide">



<img src="https://www.cafecoffeeday.com/sites/default/files/What%2527sNew-Open-copy_0.gif"
    class="rounded float-start ml-3" alt="..." width="33.33%">
<img src="https://www.cafecoffeeday.com/sites/default/files/map-locator.gif" class="rounded float-start" alt="..."
    width="33.33%">
<img src="https://www.cafecoffeeday.com/sites/default/files/Shop%20now%20gif%20new.gif" class="rounded float-end"
    alt="..." width="33.33%">